#comment-head{
    transition: transform 1.5s;
    margin-left: 32px;
}
#comment-head.move{
    transform: translateY(300px);
}
.tk-comments{
    font-family: "钉钉进步体 Regular";
    margin: auto;
    width: 324px;
    transition: transform 1.5s;
}
.tk-comments.move{
    transform: translateY(300px);
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3) {
    display: none !important;
}
.tk-row.actions{
    margin-bottom: 2rem !important;
}
.OwO .OwO-body {
    background-color: #f5f7fa !important;
    border-radius: 4px !important;
}
.tk-comment {
    margin-top: 0!important;
    margin-bottom: 1rem!important;
    transition: .3s;
    border-radius: 5px;
    padding: 0;
    padding-top: 1rem;
    border: none;
    border-top: 1.5px dashed rgba(66,89,239,0.137);
}
.tk-expand {
    width: 20% !important;
    margin: auto;
    transition: none !important;
}
.tk-expand:hover {
    border-radius: 20px;
}
.tk-footer {
    display: none !important;
}
.twikoo .el-input__inner, .twikoo .el-textarea__inner{
    font-family: "钉钉进步体 Regular";
}
.twikoo .el-button:not(.el-button--primary):not(.el-button--text){
    font-family: "钉钉进步体 Regular";
}
.twikoo .el-button--primary.is-disabled, .twikoo .el-button--primary.is-disabled:active, .twikoo .el-button--primary.is-disabled:focus, .twikoo .el-button--primary.is-disabled:hover{
    font-family: "钉钉进步体 Regular";
}