#comment-head{
    margin-left: 32px;
}
.tk-comments{
    margin: auto;
    width: 324px;
}
.el-input.el-input--small.el-input-group.el-input-group--prepend:nth-child(3) {
    display: none !important;
}
.tk-row.actions{
    margin-bottom: 2rem !important;
}
.OwO .OwO-body {
    background-color: #f5f7fa !important;
    border-radius: 4px !important;
}
.tk-comment {
    margin-top: 0!important;
    margin-bottom: 1rem!important;
    transition: .3s;
    border-radius: 5px;
    padding: 0;
    padding-top: 1rem;
    border: none;
    border-top: 1.5px dashed rgba(66,89,239,0.137);
}
.tk-expand {
    width: 20% !important;
    margin: auto;
    transition: none !important;
}
.tk-expand:hover {
    border-radius: 20px;
}
.tk-footer {
    display: none !important;
}