details.folding-tag {
    display: block;
    width: 64.74%;
    padding: 16px;
    margin: auto;
    border-radius: 4px;
    font-size: 13px;
    text-align: left;
}
details.folding-tag[open] {
    border-radius: 15px !important;
    border-color: #3b70fc !important;
    border: 1px solid #3b70fc !important;
}
details.folding-tag > summary{
    text-align: center;
    border: 1px solid #e3e8f7;
    background: #f7f9fe;
    border-radius: 14px !important;
    box-shadow: 0 8px 16px -4px #2c2d300c;
    color: #4c4948;
    padding: 16px;
    margin: -17px;
    font-size: 0.875rem !important;
    font-weight: bold;
    position: relative;
    line-height: normal;
}
[data-theme="dark"] .folding-tag > summary {
    background: #101011c9;
    color: var(--text-color-dark);
}
details.folding-tag[open] > summary {
    border: none !important;
    border-radius: 14px 14px 0px 0px !important;
    background: #3b70fc !important;
    color: #fff !important;
    transition: 0.3s !important;
    box-shadow: 0 8px 12px -3px #4259ef23;
}
details.folding-tag > summary::marker {
    color: #3b70fc;
    font-size: 16px;
}
details.folding-tag[open] > summary::marker {
    color: #fff;
}
.content {
    border-radius: 0 0 15px 15px;
    padding: 37px 37px 22px 22px;
    margin: -16px;
    background: white;
    line-height: 1.7;
}
[data-theme="dark"] .content {
    background: rgb(22 22 22 / 80%) !important;
}